node_modules
vendor
/gulp/
/src/
/mysql/
/dump/
package.json
package-lock.json
gulpfile.js
# asdf.php это просто файл для экспериментов
asdf.php
# игнорировать корневую папку uploads
/uploads/
/html/uploads/
# игнорировать папку с логами
/admin/logs/
*.log
# игнорировать реальный конфиг с рабочими настройками сайта
/html/config.php
